    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background-color: #0078AB;
    }
    .navbar {
        display: flex;
        color: white;
        align-items: center;
        background-color: #00082e;
        justify-content: space-between;
        padding: 0 2vw;
        height: 8vh;
    }

    .nav-links {
        display: flex;
        list-style: none;
        display: flex;
        height: 100%;
        width: 35vw;
    }

    .nav-links li {
        flex: 1;
        height: 100%;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 2.3vh;
        transition: color 0.4s, background-color 0.4s;
        white-space: nowrap;
    }


    .nav-links a:hover {
        color: #0078AB;
        background-color: #010f53be;
    }

    .logo{
        width: 19vh;
        cursor: pointer;
    }